*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.line{
    background-color: #b23b96;
    height: 60px;
    width: 100%;
   display: flex;
   
}

#icon{
    border-left: 1px solid white;
    height: 60px;
    width: 60px;
    margin-left: 120px;
    
}

#icon:hover{
    background-color: #f7972e;
}

#i1{
    margin-top: 25px;
    margin-left: 20px;
    font-size: 25px;
}

#icon1{
    border-left: 1px solid white;
    height: 60px;
    width: 60px;
}

#icon1:hover{
    background-color: #f7972e;
}


#i2{
    margin-top: 25px;
    margin-left: 20px;
    font-size: 25px;
}

#icon2{
    border-left: 1px solid white;
    height: 60px;
    width: 60px;
}

#icon2:hover{
    background-color: #f7972e;
}

#i3{
    margin-top: 25px;
    margin-left: 16px;
    font-size: 25px;
}

#icon3{
    border-left: 1px solid white;
    height: 60px;
    width: 60px;
}

#icon3:hover{
    background-color: #f7972e;
}

#i4{
    margin-top: 25px;
    margin-left: 20px;
    font-size: 25px;
}

#icon4{
    border-left: 1px solid white;
    height: 60px;
    width: 60px;
}

#icon4:hover{
    background-color:#f7972e;
}

#i5{
    margin-top: 25px;
    margin-left: 20px;
    font-size: 25px;
}

#icon5{
    border-left: 1px solid white;
    height: 60px;
    width: 260px;
    margin-left: 500px;
}



#i6{
    margin-top: 25px;
    margin-left: 20px;
    font-size: 25px;
}

#i6i{
    margin-left: 60px;
    position: relative;
    bottom: 25px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 23px;
}


#icon6{
    border-left: 1px solid white;
    height: 60px;
    width: 60px;
}



#i7{
    margin-top: 25px;
    margin-left: 20px;
    font-size: 25px;
}

#i7i{
    margin-left: 60px;
    position: relative;
    bottom: 25px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 23px;
}




#logo{
    height: 180px;
    width: 1600px;
}

#n1{
    /* margin-left: 50px; */

    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: 18px;  
    position: relative;
    top: 30px;
}

/* .modal{
    position: -webkit-sticky;
} */

#n22 a:hover{
    background-color: #ffb96e;

}


#n22 a{
    padding: 10px;
    margin-inline: 8px;
    border-radius: 5px;
    

}



#n2{
    /* margin-left: 30px; */
    text-decoration: none;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: 18px;
    position: relative;
    top: 30px;
}

#n3{
    /* margin-left: 30px; */
    text-decoration: none;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: 18px;
    position: relative;
    top: 30px;
}

#n4{
    /* margin-left: 30px; */
    text-decoration: none;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: 18px;
    position: relative;
    top: 30px;
}

#n5{
    /* margin-left: 30px; */
    text-decoration: none;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: 18px;
    position: relative;
    top: 30px;
}

#n6{
    /* margin-left: 30px; */
    text-decoration: none;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: 18px;
    position: relative;
    top: 30px;
}

#n7{
    /* margin-left: 30px; */
    text-decoration: none;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: 18px;
    position: relative;
    top: 30px;
}

#n8{
    /* margin-left: 30px; */
    text-decoration: none;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: 18px;
    position: relative;
    top: 30px;
}

#n9{
    /* margin-left: 30px; */
    text-decoration: none;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: 18px;
    position: relative;
    top: 30px;
}

#n10{
    /* margin-left: 30px; */
    text-decoration: none;
    color: black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: 18px;
    position: relative;
    top: 30px;
}

#line1{
    height: 2px;
   background-color: #f5f5f5;
    width: 100%;
    position: relative;
    top: 70px;
}

#ico{
    height: inherit;
    width: 200px;
    background-color:#f5f5f5;
    border-top: 5px solid #f7972e;
    position: relative;
    left: 110px;
    top: 60px;
    flex-direction: column;
    display: none;
}


#ico1{
    height: inherit;
    width: 200px;
    background-color:#f5f5f5;
    border-top: 5px solid #f7972e;
    position: relative;
    left: 240px;
    top: 60px;
    flex-direction: column;
    display: none;
}

#ico2{
    height: inherit;
    width: 200px;
    background-color:#f5f5f5;
    border-top: 5px solid #f7972e;
    position: relative;
    left: 385px;
    top: 60px;
    flex-direction: column;
    display: none;
}

#ico3{
    height: inherit;
    width: 200px;
    background-color:#f5f5f5;
    border-top: 5px solid #f7972e;
    position: relative;
    left: 530px;
    top: 60px;
    flex-direction: column;
    display: none;
}

#ico4{
    height: inherit;
    width: 200px;
    background-color:#f5f5f5;
    border-top: 5px solid #f7972e;
    position: relative;
    left: 755px;
    top: 60px;
    flex-direction: column;
    display: none;
}

#ico5{
    height: inherit;
    width: 200px;
    background-color:#f5f5f5;
    border-top: 5px solid #f7972e;
    position: relative;
    left: 960px;
    top: 60px;
    flex-direction: column;
    display: none;
}

#ico6{
    height: inherit;
    width: 200px;
    background-color:#f5f5f5;
    border-top: 5px solid #f7972e;
    position: relative;
    left: 1192px;
    top: 60px;
    flex-direction: column;
    display: none;
}

#ico7{
    height: inherit;
    width: 200px;
    background-color:#f5f5f5;
    border-top: 5px solid #f7972e;
    position: relative;
    left: 110px;
    top: 60px;
    flex-direction: column;
    display: none;
}

#ico8{
    height: inherit;
    width: 200px;
    background-color:#f5f5f5;
    border-top: 5px solid #f7972e;
    position: relative;
    left: 110px;
    top: 60px;
    flex-direction: column;
    display: none;
}

#ico9{
    height: inherit;
    width: 200px;
    background-color:#f5f5f5;
    border-top: 5px solid #f7972e;
    position: relative;
    left: 110px;
    top: 60px;
    flex-direction: column;
    display: none;
}

#ico10{
    height: inherit;
    width: 200px;
    background-color:#f5f5f5;
    border-top: 5px solid #f7972e;
    position: relative;
    left: 110px;
    top: 60px;
    flex-direction: column;
    display: none;
}

#ico a{
    padding-block: 10px;
    border-bottom: 1px solid #847d7d ;
}

#ico1 a{
    padding-block: 10px;
    border-bottom: 1px solid #847d7d ;
}

#ico2 a{
    padding-block: 10px;
    border-bottom: 1px solid #847d7d;
}

#ico3 a{
    padding-block: 10px;
    border-bottom: 1px solid #847d7d;
}

#ico4 a{
    padding-block: 10px;
    border-bottom: 1px solid #847d7d;
}

#ico5 a{
    padding-block: 10px;
    border-bottom: 1px solid #847d7d;
}

#ico6 a{
    padding-block: 10px;
    border-bottom: 1px solid #847d7d;
}

#ico7 a{
    padding-block: 10px;
    border-bottom: 1px solid #847d7d;
}

#ico8 a{
    padding-block: 10px;
    border-bottom: 1px solid #847d7d;
}

#ico9 a{
    padding-block: 10px;
    border-bottom: 1px solid #847d7d;
}

#ico10 a{
    padding-block: 10px;
    border-bottom: 1px solid #847d7d;
}

#ic1{
    color: black;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900; 
    font-size: 20px;
}



 





.slider {
    margin: 0 auto;
    max-width: 940px;
    margin-right: 590px;
  }
  
  .slide_viewer {
    height: 740px;
    width: 800px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }


  
  .slide_group {
    height: 100%;
    position: relative;
    width: 100%;
  }
  
  .slide {
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
    
  }
  
  .slide:first-child {
    display: block;
  }
  
  .slide:nth-of-type(1) {
    background: #D7A151;
  }
  
  .slide:nth-of-type(2) {
    background: #F4E4CD;
  }
  
  .slide:nth-of-type(3) {
    background: #C75534;
  }
  
  .slide:nth-of-type(4) {
    background: #D1D1D4;
  }
  
  .slide_buttons {
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
  }
  
  a.slide_btn {
    color: #474544;
    font-size: 42px;
    margin: 0 0.175em;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  
  .slide_btn.active, .slide_btn:hover {
    color: #428CC6;
    cursor: pointer;
  }
  
  .directional_nav {
    height: 340px;
    margin: 0 auto;
    max-width: 940px;
    position: relative;
    top: -340px;
  }
  
  .previous_btn {
    bottom: 0;
    left: 100px;
    margin: auto;
    position: absolute;
    top: 0;
  }
  
  .next_btn {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 100px;
    top: 0;
  }
  
  .previous_btn, .next_btn {
    cursor: pointer;
    height: 65px;
    opacity: 0.5;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    width: 65px;
  }
  
  .previous_btn:hover, .next_btn:hover {
    opacity: 1;
  }
  
  @media only screen and (max-width: 767px) {
    .previous_btn {
      left: 50px;
    }
    .next_btn {
      right: 50px;
    }
  }


#img1{
    background-image: url(image12.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#img2{
    background-image: url(image4.jpg);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center;
    background-size: cover;
}


#img3{
    background-image: url(image7.jpg);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center;
    background-size: cover;
}


#img4{
    background-image: url(image5.jpg);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center;
    background-size: cover;
}

#img5{
    background-image: url(image10.jpg);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center;
    background-size: cover;
}


#img6{
    background-image: url(image13.jpg);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center;
    background-size: cover;
}


#img7{
    background-image: url(image2.jpg);
    background-repeat: no-repeat;
   
    background-position: center;
    background-size: cover;
}


#img8{
    background-image: url(image11.jpg);
    background-repeat: no-repeat;
   
    background-position: center;
    background-size: cover;
}


#img9{
    background-image: url(image18.jpg);
    background-repeat: no-repeat;
   
    background-position: center;
    background-size: cover;
}









.marquee {
    height: 400px; /* Set the height of the marquee */
    overflow: hidden;
    /* background-color: #428CC6; */
    width: 35%;
    position: absolute;
    right: 3%;
    top: 550px;



}

.ma{
    /* background-color: #b23b96; */
    height: 100vh;
    width: 100%;
}

.marquee-content {
    animation: marquee 10s linear infinite; /* Adjust animation duration as needed */
    position: absolute;
    top: 0;
}

@keyframes marquee {
    0% { top: 0; }
    100% { top: -100%; } /* Adjust distance to control scrolling speed */
}

.marq-1{
    border: 1px solid;
    height: 300px;
    color: #486d48;
    width: 550px;
    background-color: #dff0d8;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.marq-2{
    border: 1px solid;
    text-align: center;
    height: 100px;
    color: #486d48;
    width: 550px;
    background-color: #dff0d8;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.marq-3{
    border: 1px solid;
    height: 250px;
    color: #486d48;
    width: 550px;
    background-color: #dff0d8;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.marq-4{
    border: 2px solid;
    height: 300px;
    color: #486d48;
    width: 550px;
    background-color: #dff0d8;
    border-radius: 10px;
}

.marq-5{
    border: 2px solid;
    height: 300px;
    color: #486d48;
    width: 550px;
    background-color: #dff0d8;
    border-radius: 10px;
}

.marq-6{
    border: 2px solid;
    height: 300px;
    color: #486d48;
    width: 550px;
    background-color: #dff0d8;
    border-radius: 10px;
}

.marq-7{
    border: 2px solid;
    height: 300px;
    color: #486d48;
    width: 550px;
    background-color: #dff0d8;
    border-radius: 10px;
}

.marq-8{
    border: 2px solid;
    height: 300px;
    color: #486d48;
    width: 550px;
    background-color: #dff0d8;
    border-radius: 10px;
}

.marq-9{
    border: 2px solid;
    height: 300px;
    color: #486d48;
    width: 550px;
    background-color: #dff0d8;
    border-radius: 10px;
}

.marq-10{
    border: 2px solid;
    height: 300px;
    color: #486d48;
    width: 550px;
    background-color: #dff0d8;
    border-radius: 10px;
}

.marq-11{
    border: 2px solid;
    height: 300px;
    color: #486d48;
    width: 550px;
    background-color: #dff0d8;
    border-radius: 10px;
}

.marq-12{
    border: 2px solid;
    height: 300px;
    color: #486d48;
    width: 550px;
    background-color: #dff0d8;
    border-radius: 10px;
}

.marq-13{
    border: 2px solid;
    height: 300px;
    color: #486d48;
    width: 550px;
    background-color: #dff0d8;
    border-radius: 10px;
}

.marq-14{
    border: 2px solid;
    height: 300px;
    color: #486d48;
    width: 550px;
    background-color: #dff0d8;
    border-radius: 10px;
}

.marq-15{
    border: 2px solid;
    height: 300px;
    color: #486d48;
    width: 550px;
    background-color: #dff0d8;
    border-radius: 10px;
}

.marq-16{
    border: 2px solid;
    height: 300px;
    color: #486d48;
    width: 550px;
    background-color: #dff0d8;
    border-radius: 10px;
}

.marq-{
    border: 2px solid;
    height: 300px;
    color: #486d48;
    width: 550px;
    background-color: #dff0d8;
    border-radius: 10px;
}


.main{
    height: 1500px;
    width: 100%;
    background-color: #f5f5f5;
}

.font{
    margin-top: 150px;
    padding-top: 50px;
    padding-left: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.acc{
    margin-top: 30px;
}



/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 500px;
    margin-inline: 420px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    margin-inline: 420px;
    margin-right: 661px;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 30px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}


#line3{
    height: 3px;
    width: 100%;
    background-color: #444;
    position: relative;
    bottom: 900px;
}


#s2{
    position: relative;
    bottom: 800px;
    left: 50px;
    font-family: fantasy;
    font-size: 70px;
}







#slider2{
    position: relative;
    bottom: 700px;
    right: 0px;
    
}



button {
  border: none;
  cursor: pointer;
}

.container{
  max-width: 1200px;
  margin: auto;
  padding: 10px;
}

.card-slider {
  display: flex;
  white-space: nowrap;
  overflow-x: auto;
  margin-top: 10px;
  gap: 30px;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.card-slider::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.label-container {
  display: flex;
  align-items: center;
}


.label-container {
  display: flex;
  align-items: center;
}

.label-container h2 {
  color: #111;
  font-family: Poppins, serif;
  margin-right: auto;
  font-weight: 600;
}

.label-container .bi {
  font-size: 18px;
}

.label-container button {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  color: #111;
  cursor: pointer;
  padding: 10px;
  width: fit-content;
  margin-left: 5px;
}

.label-container button:disabled {
  background-color: whitesmoke;
  cursor: not-allowed;
  border: none;
}

.restaurant-card {
  transition: transform 0.3s ease-in-out;
  font-family: "Arial", sans-serif;
  background: transparent;
}

.restaurant-card:hover {
  cursor: pointer;
  transform: scale(0.95);
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  width: 350px;
  height: 240px;
  display: block;
  border-radius: 20px;
  object-fit: cover;
  image-rendering: pixelated;
}

.image-container::after {
    content: "";
    position: absolute;
    top: 80%;
    left: 0;
    right: 0;
    border: none;
    border-radius: 0 0 20px 20px;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1)100%);
}

.discount-badge {
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 10px;
  padding: 5px;
  z-index: 2;
  font-weight: bold;
  font-size: 24px;
  font-family: "Proxima Nova Condensed", sans-serif;
}

.restaurant-name {
  font-weight: bold;
  font-size: 24px;
  margin: 0;
}

.info-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}

.rating {
  display: flex;
  align-items: start;
  margin-top: 5px;
  font-weight: semi-bold;
}

.review-count {
  margin-left: 5px;
  font-weight: semi-bold;
}

.delivery-info {
  display: flex;
  font-size: 16px;
  align-items: center;
}

.bi-star-fill {
  color: green;
}

.bi-dot {
  font-size: 26px;
}


@media only screen and (min-width: 320px) and (max-width: 767px) {

    .container {
        max-width: 350px;
        margin: auto;
        padding: 10px;
      }
      
      /* Card Slider */
      
      .label-container h2 {
        color: #111;
        font-family: Poppins, serif;
        margin-right: auto;
        font-size: 18px;
        font-weight: bold;
      }
      
      .label-container i {
        font-size: 14px;
      }
      
      /* Card Slider */
      
      /* Restaurant Card */
      .card-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: fit-content;
        gap: 10px;
        margin-top: 10px;
      }
      
       .image-container img {
        width: 180px;
        height: 140px;
        display: block;
        border-radius: 20px;
        object-fit: cover;
        image-rendering: pixelated;
      }
      
      .image-container::after {
        content: "";
        position: absolute;
        top: 80%;
        left: 0;
        right: 0;
        border: none;
        border-radius: 0 0 20px 20px;
        bottom: 0;
        background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.8) 100%
        );
      }
      
      .discount-badge {
        position: absolute;
        color: #fff;
        bottom: 0;
        left: 10px;
        padding: 5px;
        z-index: 2;
        font-weight: bold;
        font-size: 12px;
        font-family: "Proxima Nova Condensed", sans-serif;
      }
      
      .restaurant-name {
        font-weight: bold;
        font-size: 16px;
        margin: 0;
      }
      
      .info-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 10px;
      }
      
      .rating {
        display: flex;
        align-items: start;
        margin-top: 3px;
        font-weight: semi-bold;
      }
      
      .review-count {
        margin-left: 3px;
        font-weight: semi-bold;
      }
      
      p{
        font-size: 10px;
      }
  
      .delivery-info {
        display: flex;
        font-size: 10px;
        align-items: center;
      }
      
      .bi-dot {
        font-size: 16px;
      }
      /* Restaurant Card */
}


@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}




#co1{
    margin-top: 150px;
    text-align: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}















.ho{
    height: 80vh;
    width: 100%;
}

.ho1{
    height: 65%;
    width: 25%;
    background-image: url(comp.jpg);
    margin-top: 10%;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    z-index: 2;
}

.ho1:hover .h{
    opacity: 0;
    
}

.h{
    height: 80%;
    width: 80%;
    background-color: #fff9f941;
    border: 15px solid rgba(255, 255, 255, 0.253) ;
    position: absolute;
     z-index: 3;
     transition: 0.4s;
     
}

.font1{
    position: relative;
    z-index: 5;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    text-align: center;
}


#coo1{
  position: relative;
  left: -70px;
}


#coo2{
  position: relative;
  bottom: 689px;
  left: 300px;
}


#coo3{
  position: relative;
  bottom: 1379px;
  left: 680px;
}

#coo4{
  position: relative;
  bottom: 2068px;
  left: 1070px;
}


.hover2{
  height: 65%;
  width: 25%;
  background-image: url(ele.jpg);
  margin-top: 10%;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  z-index: 2;
}

.hover2:hover .h{
  opacity: 0;
  
}

.hover3{
  height: 65%;
  width: 25%;
  background-image: url(mech.jpg);
  margin-top: 10%;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  z-index: 2;
}

.hover3:hover .h{
  opacity: 0;
  
}

.hover4{
  height: 65%;
  width: 25%;
  background-image: url(civil.jpg);
  margin-top: 10%;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  z-index: 2;
}

.hover4:hover .h{
  opacity: 0;
  
}

.font2{
  position: relative;
  z-index: 5;
  color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    text-align: center;
}

.font3{
  position: relative;
  z-index: 5;
  color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    text-align: center;
}

.font4{
  position: relative;
  z-index: 5;
  color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    text-align: center;
}



#co2{
 position: relative;
 bottom: 2100px;
    text-align: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cp{
  position: relative;
  bottom: 2100px;
}




.hoo{
  
    height: 30vh;
   width: 1900px;

}

.hover5{
  height: 65%;
  width: 25%;
  background-image: url(diplomaele1.jpg);
  margin-top: 10%;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  z-index: 2;
}

.hover5:hover .h{
  opacity: 0;
  
}

#coo5{
  position: relative;
  bottom: 2250px;
  left: -70px;
}


.hoo{
  
  height: 30vh;
 width: 1900px;

}

.hover6{
height: 65%;
width: 25%;
background-image: url(diplomaele1.jpg);
margin-top: 10%;
display: flex;
justify-content: center;
position: relative;
align-items: center;
z-index: 2;
}

.hover6:hover .h{
opacity: 0;

}

#coo6{
position: relative;
bottom: 2649.9px;
left: 415px;
}


.hoo{
  
  height: 30vh;
 width: 1900px;

}

.hover7{
height: 65%;
width: 25%;
background-image: url(diplomamech1.jpg);
margin-top: 10%;
display: flex;
justify-content: center;
position: relative;
align-items: center;
z-index: 2;
}

.hover7:hover .h{
opacity: 0;

}

#coo7{
position: relative;
bottom: 3049.4px;
left: 900px;
}



.hoo{
  
  height: 30vh;
 width: 1900px;

}

.hover8{
height: 65%;
width: 25%;
background-image: url(diplomacivil.jpg);
margin-top: 10%;
display: flex;
justify-content: center;
position: relative;
align-items: center;
z-index: 2;
}

.hover8:hover .h{
opacity: 0;

}

#coo8{
position: relative;
bottom: 3290px;
  left: -70px;
}



.fontf{
  position: relative;
  z-index: 5;
  color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
}



#line3{
  height: 150px;
  width: 100%;
  background-color: #f7972e;
  position: relative;
  top: 1200px;

}

#lc1{
  position: relative;
  bottom: 3280px;
  left: 400px;
  font-family:  Arial, Helvetica, sans-serif;
  font-size: 50px;
}


#lc2{
  background-color: #111;
  height: 600px;
  width: 100%;
  position: relative;
  bottom: 3300px;
}


#fg{
  position: relative;
  top: 30px;
  left: 20px;
}

#fg1{
  color: white;
  position: relative;
  top:50px;
  left: 20px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#fg2{
  color: white;
  position: relative;
  top:70px;
  left: 20px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#fg3{
  color: white;
  position: relative;
  top:-180px;
  left: 970px;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#fg4{
  color: white;
  position: relative;
  top:-120px;
  left: 870px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#fg5{
  color: white;
  position: relative;
  top:-100px;
  left: 870px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#fg6{
  color: white;
  position: relative;
  top:-80px;
  left: 865px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#gg{
  display: flex;
  
}


#fg8{
  color: white;
  position: relative;
  top: 100px;
  left: -190px;
  font-family: cursive;
}


#hh1:hover{
  background-color: #f7972e;
}

#hh2:hover{
  background-color: #f7972e;
}

#hh3:hover{
  background-color: #f7972e;
}

#hh4:hover{
  background-color: #f7972e;
}

#hh5:hover{
  background-color: #f7972e;
}


